<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Manual login</title>
</head>
<body>
<form action="/manual-login" method="POST">
    <label for="token">Token (recommended):</label>
    <input id="token" type="text" name="token"><br>
    <label for="user-id">Or go by User ID:</label>
    <input id="user-id" type="text" name="user-id"><br>
    <button type="submit">Submit</button>
</form>
</body>
</html>